#sidebar {
  width: 250px;
  height: 100vh;
  /* margin-left: -300px; */
  transition: 0.4s;
}

#sidebar .nav-link {
  font-size: 1.25em;
}
.container-admin-dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container-admin {
  flex: 1;
  display: flex;
  overflow: auto;
}

.container__main {
  flex: 1;
  overflow: scroll;
  height: auto;
}
/* hover */

#sidebar .nav-link:hover {
  background-color: #ffffff26;
}

.right {
  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;
}
