<!-- main content home -->
<div class="main-content-home">
  <!-- card -->
  <div class="row">
    <div class="col">
      <div class="cards">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col-sm">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width:18rem"
            >
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                  "Neque porro quisquam est qui dolorem ipsum quia dolor sit
                  amet, consectetur, adipisci velit..."
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width: 18rem;"
            >
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                  "Neque porro quisquam est qui dolorem ipsum quia dolor sit
                  amet, consectetur, adipisci velit..."
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width: 18rem;"
            >
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                  "Neque porro quisquam est qui dolorem ipsum quia dolor sit
                  amet, consectetur, adipisci velit..."
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div
              class="card text-white bg-primary mb-3"
              style="max-width: 18rem;"
            >
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">
                  "Neque porro quisquam est qui dolorem ipsum quia dolor sit
                  amet, consectetur, adipisci velit..."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <!-- chart -->
      <div id="divChart">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
