<!-- start jumbotron -->
<section class="jumbotron text-center">
  <img
    src="https://cdn-2.tstatic.net/style/foto/bank/images/manjiro-sano-aka-mikey-dari-anime-tokyo-revengers.jpg"
    alt=""
    width="200"
    class="img-thumbnail rounded-circle"
  />
  <h1 class="display-4">Lorem Ipsum</h1>
  <p class="lead">
    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
    consectetur, adipisci velit..."
  </p>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,64L40,85.3C80,107,160,149,240,176C320,203,400,213,480,186.7C560,160,640,96,720,96C800,96,880,160,960,197.3C1040,235,1120,245,1200,245.3C1280,245,1360,235,1400,229.3L1440,224L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
</section>
<h1></h1>

<!-- end of jumbotron -->

<!-- about -->
<section id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2>About Me</h2>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra pulvinar tellus, nec dictum risus tempus ut. Donec in neque eu dui imperdiet ullamcorper id sit amet orci. Maecenas posuere sem ex. Phasellus nulla nunc, consectetur sed scelerisque ut, egestas aliquet lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam sagittis neque eu tortor rutrum, non congue lorem venenatis. Donec ornare pellentesque odio in mattis. Nam est metus, aliquam sit amet nisi ut, sodales bibendum sem. Nunc fringilla consectetur risus, ac faucibus lacus commodo tincidunt. Aliquam efficitur iaculis massa quis ultrices. </p>
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pharetra pulvinar tellus, nec dictum risus tempus ut. Donec in neque eu dui imperdiet ullamcorper id sit amet orci. Maecenas posuere sem ex. Phasellus nulla nunc, consectetur sed scelerisque ut, egestas aliquet lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam sagittis neque eu tortor rutrum, non congue lorem venenatis. Donec ornare pellentesque odio in mattis. Nam est metus, aliquam sit amet nisi ut, sodales bibendum sem. Nunc fringilla consectetur risus, ac faucibus lacus commodo tincidunt. Aliquam efficitur iaculis massa quis ultrices. </p>
      </div>
    </div>
  </div>
</section>
